<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tripview 로그인</title>
    <link rel="stylesheet" href="/css/user/login.css">
    <script src="/login.js"></script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>
<div class="logo">
    <a th:href="@{/}" title="메인 페이지"><img src="css/image/Tripview.png" class="image"></a>
</div>

<section class="login-wrap">
    <p sec:authentication="principal"></p>
    <form method="post" action="/login" sec:authorize="isAnonymous">

        <H2>로그인</H2>
        <div class="login-id-wrap">
            <input type="text" name="email" id="input-id"   placeholder="아이디를 입력하세요."></input>
        </div>

        <div class="login-pw-wrap">
            <input type="password" name="password" id="input-pw"   placeholder="비밀번호를 입력하세요."></input>
        </div>

        <div class="under-login"><!--자동로그인 부분-->
            <span class="stay-check">
                <input type="checkbox" id="stay-checkbox"></input>
                <label for="stay-checkbox" id="stay-text">자동로그인</label>
            </span>
        </div>

        <div class="idpw-find">
            <a href="findid" title="ID/PW찾기">ID찾기</a> /
            <a href="findpw" title="ID/PW찾기">PW찾기</a>
        </div><br>

        <div class="login-btn-wrap"><!--로그인 버튼-->
            <button type="submit" id="login-btn">로그인</button>
        </div>

    </form>
    <div class="signup-btn-wrap"><!--회원가입 버튼-->
        <button type="button" id="signup-btn" onclick="location.href='/join'">회원가입</button>
    </div>

    <div sec:authorize="isAuthenticated()" class="signup-btn-wrap">
        <button type="button"   sec:authorize="hasRole('ROLE_GUEST')" onclick="location.href='/user'">User</button>
        <button type="button" sec:authorize="hasRole('ROLE_USER')"  onclick="location.href='/manager'">Manager</button>
    </div>

    <br>
    <button type="button"  onclick="location.href='/form/loginInfo'">로그인 정보</button>

</section>


</body>
</html>


        