<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>회원정보 수정</title>
    <link rel="stylesheet" href="/css/user/join.css">
</head>

<body>

<div class="logo">
    <a th:href="@{/}" title="메인 페이지"><img src="../../css/image/Tripview.png" class="image"></a>
</div>

<section class="login-wrap">
    <form th:action="@{/update}" method="post" >
        <H2>회원정보 수정</H2>
        <div class="login-id-wrap">
            <input type="text" name="username" id="input-id" placeholder="변경할 닉네임을 입력해주세요"></input>

        </div>

        <div class="login-pw-wrap-1">
            <input type="text" name="password" id="input-pw-1" placeholder="비밀번호를 입력해주세요."></input>
        </div>

        <div class="login-email">
            <input type="email" name="email"  id="input-email" th:value="${userDto.email}"></input>

        </div>

        <div class="signup-btn-wrap"><!-- 개인정보수정 버튼-->
            <button type="submit" id="signup-btn" >정보수정완료</button>
        </div>
    </form>
</section>


</body>
</html>